body {
    background-color: #d0e9c6;
}

#access {
    background-color: #004E98;
    padding: 5px;
    margin-top: 10px;
}

#messages span.name {
    font-weight: bold;
}

#messages span.date {
    color: #999;
}

#messages {
    background-color: #FFF;
    padding: 10px;
    border: 2px solid #004E98;
    border-top: 30px solid #004E98;
    height: 500px;
    overflow-y: auto;
    margin-bottom: 10px;
    margin-top: 40px;
    overflow-x: hidden;
}

[v-cloak] { display:none; }